--
-- PostgreSQL database cluster dump
--

\restrict X70xivVLZjqM5CuVHgpaQv7YDkejxtRbLKAUoWejaYwOzTJOX2JfsWyNHRfTiv8

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE app;
ALTER ROLE app WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:BML0uL8pINg/x2WcOx7vhg==$wOZQFKIO7mZ1DfRFr11Or0ZzWXxjEytdqgQPc3YMwt8=:lIOQHlsx8XVr+G8F5rc6JsxZCUIE6g/V5cqmpKjg0JE=';

--
-- User Configurations
--








\unrestrict X70xivVLZjqM5CuVHgpaQv7YDkejxtRbLKAUoWejaYwOzTJOX2JfsWyNHRfTiv8

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict cJfehl2x19oF8jcjLs32mGSmH3NUzNT1092kndQr5lde7lUCRoj3hAVqRNktarT

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict cJfehl2x19oF8jcjLs32mGSmH3NUzNT1092kndQr5lde7lUCRoj3hAVqRNktarT

--
-- Database "app" dump
--

--
-- PostgreSQL database dump
--

\restrict nI8GgzlR3TjuxCmiiKj8wr3PUtiR6vJqTL8uUbrsV5UZimmtccCgNwFRYTmpnCk

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: app; Type: DATABASE; Schema: -; Owner: app
--

CREATE DATABASE app WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE app OWNER TO app;

\unrestrict nI8GgzlR3TjuxCmiiKj8wr3PUtiR6vJqTL8uUbrsV5UZimmtccCgNwFRYTmpnCk
\connect app
\restrict nI8GgzlR3TjuxCmiiKj8wr3PUtiR6vJqTL8uUbrsV5UZimmtccCgNwFRYTmpnCk

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: notify_messenger_messages(); Type: FUNCTION; Schema: public; Owner: app
--

CREATE FUNCTION public.notify_messenger_messages() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

            BEGIN

                PERFORM pg_notify('messenger_messages', NEW.queue_name::text);

                RETURN NEW;

            END;

        $$;


ALTER FUNCTION public.notify_messenger_messages() OWNER TO app;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.admin (
    id integer NOT NULL,
    nom_admin character varying(255) NOT NULL,
    prenom_admin character varying(255) NOT NULL,
    mdp_admin character varying(255) NOT NULL,
    droit_admin character varying(255) NOT NULL
);


ALTER TABLE public.admin OWNER TO app;

--
-- Name: admin_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.admin_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_id_seq OWNER TO app;

--
-- Name: admin_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.admin_id_seq OWNED BY public.admin.id;


--
-- Name: bien; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.bien (
    id integer NOT NULL,
    proprietaire_id integer NOT NULL,
    adresse_bien character varying(255) NOT NULL,
    ville_bien character varying(255) NOT NULL
);


ALTER TABLE public.bien OWNER TO app;

--
-- Name: bien_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.bien_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bien_id_seq OWNER TO app;

--
-- Name: bien_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.bien_id_seq OWNED BY public.bien.id;


--
-- Name: categorie; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.categorie (
    id integer NOT NULL,
    type character varying(255) NOT NULL,
    libelle character varying(255) NOT NULL
);


ALTER TABLE public.categorie OWNER TO app;

--
-- Name: categorie_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.categorie_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categorie_id_seq OWNER TO app;

--
-- Name: categorie_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.categorie_id_seq OWNED BY public.categorie.id;


--
-- Name: chantier; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.chantier (
    id integer NOT NULL,
    bien_id integer NOT NULL,
    inspecteur_id integer NOT NULL,
    devis_type_id integer,
    ville_bien character varying(255) NOT NULL,
    adresse_bien character varying(255) NOT NULL,
    info_chantier character varying(255) NOT NULL,
    statut_chantier character varying(255) NOT NULL
);


ALTER TABLE public.chantier OWNER TO app;

--
-- Name: chantier_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.chantier_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chantier_id_seq OWNER TO app;

--
-- Name: chantier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.chantier_id_seq OWNED BY public.chantier.id;


--
-- Name: devis; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.devis (
    id integer NOT NULL,
    chantier_id integer,
    entrepreneur_id integer,
    prix integer NOT NULL,
    duree character varying(255) NOT NULL
);


ALTER TABLE public.devis OWNER TO app;

--
-- Name: devis_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.devis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.devis_id_seq OWNER TO app;

--
-- Name: devis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.devis_id_seq OWNED BY public.devis.id;


--
-- Name: devis_type; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.devis_type (
    id integer NOT NULL,
    chantier_id integer NOT NULL,
    gestionnaire_id integer NOT NULL,
    prix integer NOT NULL,
    duree character varying(255) NOT NULL
);


ALTER TABLE public.devis_type OWNER TO app;

--
-- Name: devis_type_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.devis_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.devis_type_id_seq OWNER TO app;

--
-- Name: devis_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.devis_type_id_seq OWNED BY public.devis_type.id;


--
-- Name: devis_type_prestation; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.devis_type_prestation (
    devis_type_id integer NOT NULL,
    prestation_id integer NOT NULL
);


ALTER TABLE public.devis_type_prestation OWNER TO app;

--
-- Name: doctrine_migration_versions; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.doctrine_migration_versions (
    version character varying(191) NOT NULL,
    executed_at timestamp(0) without time zone DEFAULT NULL::timestamp without time zone,
    execution_time integer
);


ALTER TABLE public.doctrine_migration_versions OWNER TO app;

--
-- Name: entrepreneur; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.entrepreneur (
    id integer NOT NULL,
    categorie_id integer,
    ville_deploiement character varying(255) NOT NULL,
    nom_entrepreneur character varying(255) NOT NULL,
    prenom_entrepreneur character varying(255) NOT NULL,
    email_entrepreneur character varying(255) NOT NULL,
    tel_entrepreneur character varying(255) NOT NULL
);


ALTER TABLE public.entrepreneur OWNER TO app;

--
-- Name: entrepreneur_categorie; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.entrepreneur_categorie (
    entrepreneur_id integer NOT NULL,
    categorie_id integer NOT NULL
);


ALTER TABLE public.entrepreneur_categorie OWNER TO app;

--
-- Name: entrepreneur_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.entrepreneur_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.entrepreneur_id_seq OWNER TO app;

--
-- Name: entrepreneur_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.entrepreneur_id_seq OWNED BY public.entrepreneur.id;


--
-- Name: gestionnaire; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.gestionnaire (
    id integer NOT NULL,
    nom_gestionnaire character varying(255) NOT NULL,
    prenom_gestionnaire character varying(255) NOT NULL
);


ALTER TABLE public.gestionnaire OWNER TO app;

--
-- Name: gestionnaire_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.gestionnaire_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.gestionnaire_id_seq OWNER TO app;

--
-- Name: gestionnaire_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.gestionnaire_id_seq OWNED BY public.gestionnaire.id;


--
-- Name: inspecteur; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.inspecteur (
    id integer NOT NULL,
    nom_imspecteur character varying(255) NOT NULL,
    prenom_inspecteur character varying(255) NOT NULL,
    email_inspecteur character varying(255) NOT NULL,
    tel_inspecteur character varying(255) NOT NULL,
    secteur_inspecteur character varying(255) NOT NULL
);


ALTER TABLE public.inspecteur OWNER TO app;

--
-- Name: inspecteur_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.inspecteur_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inspecteur_id_seq OWNER TO app;

--
-- Name: inspecteur_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.inspecteur_id_seq OWNED BY public.inspecteur.id;


--
-- Name: messenger_messages; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.messenger_messages (
    id bigint NOT NULL,
    body text NOT NULL,
    headers text NOT NULL,
    queue_name character varying(190) NOT NULL,
    created_at timestamp(0) without time zone NOT NULL,
    available_at timestamp(0) without time zone NOT NULL,
    delivered_at timestamp(0) without time zone DEFAULT NULL::timestamp without time zone
);


ALTER TABLE public.messenger_messages OWNER TO app;

--
-- Name: COLUMN messenger_messages.created_at; Type: COMMENT; Schema: public; Owner: app
--

COMMENT ON COLUMN public.messenger_messages.created_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN messenger_messages.available_at; Type: COMMENT; Schema: public; Owner: app
--

COMMENT ON COLUMN public.messenger_messages.available_at IS '(DC2Type:datetime_immutable)';


--
-- Name: COLUMN messenger_messages.delivered_at; Type: COMMENT; Schema: public; Owner: app
--

COMMENT ON COLUMN public.messenger_messages.delivered_at IS '(DC2Type:datetime_immutable)';


--
-- Name: messenger_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.messenger_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messenger_messages_id_seq OWNER TO app;

--
-- Name: messenger_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.messenger_messages_id_seq OWNED BY public.messenger_messages.id;


--
-- Name: photo; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.photo (
    id integer NOT NULL,
    chantier_id integer NOT NULL,
    id_photo character varying(255) NOT NULL
);


ALTER TABLE public.photo OWNER TO app;

--
-- Name: photo_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.photo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.photo_id_seq OWNER TO app;

--
-- Name: photo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.photo_id_seq OWNED BY public.photo.id;


--
-- Name: prestation; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.prestation (
    id integer NOT NULL,
    categorie_id integer NOT NULL,
    devis_type_id integer,
    libelle character varying(255) NOT NULL
);


ALTER TABLE public.prestation OWNER TO app;

--
-- Name: prestation_devis; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.prestation_devis (
    prestation_id integer NOT NULL,
    devis_id integer NOT NULL
);


ALTER TABLE public.prestation_devis OWNER TO app;

--
-- Name: prestation_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.prestation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.prestation_id_seq OWNER TO app;

--
-- Name: prestation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.prestation_id_seq OWNED BY public.prestation.id;


--
-- Name: proprietaire; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.proprietaire (
    id integer NOT NULL,
    nom_proprietaire character varying(255) NOT NULL,
    prenom_proprietaire character varying(255) NOT NULL,
    email_proprietaire character varying(255) NOT NULL,
    tel_proprietaire character varying(255) NOT NULL
);


ALTER TABLE public.proprietaire OWNER TO app;

--
-- Name: proprietaire_id_seq; Type: SEQUENCE; Schema: public; Owner: app
--

CREATE SEQUENCE public.proprietaire_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.proprietaire_id_seq OWNER TO app;

--
-- Name: proprietaire_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: app
--

ALTER SEQUENCE public.proprietaire_id_seq OWNED BY public.proprietaire.id;


--
-- Name: admin id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.admin ALTER COLUMN id SET DEFAULT nextval('public.admin_id_seq'::regclass);


--
-- Name: bien id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.bien ALTER COLUMN id SET DEFAULT nextval('public.bien_id_seq'::regclass);


--
-- Name: categorie id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.categorie ALTER COLUMN id SET DEFAULT nextval('public.categorie_id_seq'::regclass);


--
-- Name: chantier id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.chantier ALTER COLUMN id SET DEFAULT nextval('public.chantier_id_seq'::regclass);


--
-- Name: devis id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.devis ALTER COLUMN id SET DEFAULT nextval('public.devis_id_seq'::regclass);


--
-- Name: devis_type id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.devis_type ALTER COLUMN id SET DEFAULT nextval('public.devis_type_id_seq'::regclass);


--
-- Name: entrepreneur id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.entrepreneur ALTER COLUMN id SET DEFAULT nextval('public.entrepreneur_id_seq'::regclass);


--
-- Name: gestionnaire id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.gestionnaire ALTER COLUMN id SET DEFAULT nextval('public.gestionnaire_id_seq'::regclass);


--
-- Name: inspecteur id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.inspecteur ALTER COLUMN id SET DEFAULT nextval('public.inspecteur_id_seq'::regclass);


--
-- Name: messenger_messages id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.messenger_messages ALTER COLUMN id SET DEFAULT nextval('public.messenger_messages_id_seq'::regclass);


--
-- Name: photo id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.photo ALTER COLUMN id SET DEFAULT nextval('public.photo_id_seq'::regclass);


--
-- Name: prestation id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.prestation ALTER COLUMN id SET DEFAULT nextval('public.prestation_id_seq'::regclass);


--
-- Name: proprietaire id; Type: DEFAULT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.proprietaire ALTER COLUMN id SET DEFAULT nextval('public.proprietaire_id_seq'::regclass);


--
-- Data for Name: admin; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.admin (id, nom_admin, prenom_admin, mdp_admin, droit_admin) FROM stdin;
\.


--
-- Data for Name: bien; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.bien (id, proprietaire_id, adresse_bien, ville_bien) FROM stdin;
\.


--
-- Data for Name: categorie; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.categorie (id, type, libelle) FROM stdin;
\.


--
-- Data for Name: chantier; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.chantier (id, bien_id, inspecteur_id, devis_type_id, ville_bien, adresse_bien, info_chantier, statut_chantier) FROM stdin;
\.


--
-- Data for Name: devis; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.devis (id, chantier_id, entrepreneur_id, prix, duree) FROM stdin;
\.


--
-- Data for Name: devis_type; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.devis_type (id, chantier_id, gestionnaire_id, prix, duree) FROM stdin;
\.


--
-- Data for Name: devis_type_prestation; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.devis_type_prestation (devis_type_id, prestation_id) FROM stdin;
\.


--
-- Data for Name: doctrine_migration_versions; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.doctrine_migration_versions (version, executed_at, execution_time) FROM stdin;
DoctrineMigrations\\Version20251022154739	2025-11-02 18:23:24	273
\.


--
-- Data for Name: entrepreneur; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.entrepreneur (id, categorie_id, ville_deploiement, nom_entrepreneur, prenom_entrepreneur, email_entrepreneur, tel_entrepreneur) FROM stdin;
\.


--
-- Data for Name: entrepreneur_categorie; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.entrepreneur_categorie (entrepreneur_id, categorie_id) FROM stdin;
\.


--
-- Data for Name: gestionnaire; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.gestionnaire (id, nom_gestionnaire, prenom_gestionnaire) FROM stdin;
\.


--
-- Data for Name: inspecteur; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.inspecteur (id, nom_imspecteur, prenom_inspecteur, email_inspecteur, tel_inspecteur, secteur_inspecteur) FROM stdin;
\.


--
-- Data for Name: messenger_messages; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.messenger_messages (id, body, headers, queue_name, created_at, available_at, delivered_at) FROM stdin;
\.


--
-- Data for Name: photo; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.photo (id, chantier_id, id_photo) FROM stdin;
\.


--
-- Data for Name: prestation; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.prestation (id, categorie_id, devis_type_id, libelle) FROM stdin;
\.


--
-- Data for Name: prestation_devis; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.prestation_devis (prestation_id, devis_id) FROM stdin;
\.


--
-- Data for Name: proprietaire; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.proprietaire (id, nom_proprietaire, prenom_proprietaire, email_proprietaire, tel_proprietaire) FROM stdin;
\.


--
-- Name: admin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.admin_id_seq', 1, false);


--
-- Name: bien_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.bien_id_seq', 1, false);


--
-- Name: categorie_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.categorie_id_seq', 1, false);


--
-- Name: chantier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.chantier_id_seq', 1, false);


--
-- Name: devis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.devis_id_seq', 1, false);


--
-- Name: devis_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.devis_type_id_seq', 1, false);


--
-- Name: entrepreneur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.entrepreneur_id_seq', 1, false);


--
-- Name: gestionnaire_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.gestionnaire_id_seq', 1, false);


--
-- Name: inspecteur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.inspecteur_id_seq', 1, false);


--
-- Name: messenger_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.messenger_messages_id_seq', 1, false);


--
-- Name: photo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.photo_id_seq', 1, false);


--
-- Name: prestation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.prestation_id_seq', 1, false);


--
-- Name: proprietaire_id_seq; Type: SEQUENCE SET; Schema: public; Owner: app
--

SELECT pg_catalog.setval('public.proprietaire_id_seq', 1, false);


--
-- Name: admin admin_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_pkey PRIMARY KEY (id);


--
-- Name: bien bien_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.bien
    ADD CONSTRAINT bien_pkey PRIMARY KEY (id);


--
-- Name: categorie categorie_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.categorie
    ADD CONSTRAINT categorie_pkey PRIMARY KEY (id);


--
-- Name: chantier chantier_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.chantier
    ADD CONSTRAINT chantier_pkey PRIMARY KEY (id);


--
-- Name: devis devis_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.devis
    ADD CONSTRAINT devis_pkey PRIMARY KEY (id);


--
-- Name: devis_type devis_type_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.devis_type
    ADD CONSTRAINT devis_type_pkey PRIMARY KEY (id);


--
-- Name: devis_type_prestation devis_type_prestation_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.devis_type_prestation
    ADD CONSTRAINT devis_type_prestation_pkey PRIMARY KEY (devis_type_id, prestation_id);


--
-- Name: doctrine_migration_versions doctrine_migration_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.doctrine_migration_versions
    ADD CONSTRAINT doctrine_migration_versions_pkey PRIMARY KEY (version);


--
-- Name: entrepreneur_categorie entrepreneur_categorie_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.entrepreneur_categorie
    ADD CONSTRAINT entrepreneur_categorie_pkey PRIMARY KEY (entrepreneur_id, categorie_id);


--
-- Name: entrepreneur entrepreneur_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.entrepreneur
    ADD CONSTRAINT entrepreneur_pkey PRIMARY KEY (id);


--
-- Name: gestionnaire gestionnaire_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.gestionnaire
    ADD CONSTRAINT gestionnaire_pkey PRIMARY KEY (id);


--
-- Name: inspecteur inspecteur_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.inspecteur
    ADD CONSTRAINT inspecteur_pkey PRIMARY KEY (id);


--
-- Name: messenger_messages messenger_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.messenger_messages
    ADD CONSTRAINT messenger_messages_pkey PRIMARY KEY (id);


--
-- Name: photo photo_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.photo
    ADD CONSTRAINT photo_pkey PRIMARY KEY (id);


--
-- Name: prestation_devis prestation_devis_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.prestation_devis
    ADD CONSTRAINT prestation_devis_pkey PRIMARY KEY (prestation_id, devis_id);


--
-- Name: prestation prestation_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.prestation
    ADD CONSTRAINT prestation_pkey PRIMARY KEY (id);


--
-- Name: proprietaire proprietaire_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.proprietaire
    ADD CONSTRAINT proprietaire_pkey PRIMARY KEY (id);


--
-- Name: idx_14b78418d0c0049d; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_14b78418d0c0049d ON public.photo USING btree (chantier_id);


--
-- Name: idx_2405934557a217cf; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_2405934557a217cf ON public.devis_type_prestation USING btree (devis_type_id);


--
-- Name: idx_240593459e45c554; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_240593459e45c554 ON public.devis_type_prestation USING btree (prestation_id);


--
-- Name: idx_45edc38676c50e4a; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_45edc38676c50e4a ON public.bien USING btree (proprietaire_id);


--
-- Name: idx_49ac8eaa41defada; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_49ac8eaa41defada ON public.prestation_devis USING btree (devis_id);


--
-- Name: idx_49ac8eaa9e45c554; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_49ac8eaa9e45c554 ON public.prestation_devis USING btree (prestation_id);


--
-- Name: idx_51c88fad57a217cf; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_51c88fad57a217cf ON public.prestation USING btree (devis_type_id);


--
-- Name: idx_51c88fadbcf5e72d; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_51c88fadbcf5e72d ON public.prestation USING btree (categorie_id);


--
-- Name: idx_636f27f657a217cf; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_636f27f657a217cf ON public.chantier USING btree (devis_type_id);


--
-- Name: idx_636f27f6b7728aa0; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_636f27f6b7728aa0 ON public.chantier USING btree (inspecteur_id);


--
-- Name: idx_636f27f6bd95b80f; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_636f27f6bd95b80f ON public.chantier USING btree (bien_id);


--
-- Name: idx_75ea56e016ba31db; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_75ea56e016ba31db ON public.messenger_messages USING btree (delivered_at);


--
-- Name: idx_75ea56e0e3bd61ce; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_75ea56e0e3bd61ce ON public.messenger_messages USING btree (available_at);


--
-- Name: idx_75ea56e0fb7336f0; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_75ea56e0fb7336f0 ON public.messenger_messages USING btree (queue_name);


--
-- Name: idx_7b6e3fa0283063ea; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_7b6e3fa0283063ea ON public.entrepreneur_categorie USING btree (entrepreneur_id);


--
-- Name: idx_7b6e3fa0bcf5e72d; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_7b6e3fa0bcf5e72d ON public.entrepreneur_categorie USING btree (categorie_id);


--
-- Name: idx_8b27c52b283063ea; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_8b27c52b283063ea ON public.devis USING btree (entrepreneur_id);


--
-- Name: idx_8b27c52bd0c0049d; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_8b27c52bd0c0049d ON public.devis USING btree (chantier_id);


--
-- Name: idx_c30c36f66885ac1b; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_c30c36f66885ac1b ON public.devis_type USING btree (gestionnaire_id);


--
-- Name: idx_c30c36f6d0c0049d; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_c30c36f6d0c0049d ON public.devis_type USING btree (chantier_id);


--
-- Name: idx_f28c90a3bcf5e72d; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX idx_f28c90a3bcf5e72d ON public.entrepreneur USING btree (categorie_id);


--
-- Name: messenger_messages notify_trigger; Type: TRIGGER; Schema: public; Owner: app
--

CREATE TRIGGER notify_trigger AFTER INSERT OR UPDATE ON public.messenger_messages FOR EACH ROW EXECUTE FUNCTION public.notify_messenger_messages();


--
-- Name: photo fk_14b78418d0c0049d; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.photo
    ADD CONSTRAINT fk_14b78418d0c0049d FOREIGN KEY (chantier_id) REFERENCES public.chantier(id);


--
-- Name: devis_type_prestation fk_2405934557a217cf; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.devis_type_prestation
    ADD CONSTRAINT fk_2405934557a217cf FOREIGN KEY (devis_type_id) REFERENCES public.devis_type(id) ON DELETE CASCADE;


--
-- Name: devis_type_prestation fk_240593459e45c554; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.devis_type_prestation
    ADD CONSTRAINT fk_240593459e45c554 FOREIGN KEY (prestation_id) REFERENCES public.prestation(id) ON DELETE CASCADE;


--
-- Name: bien fk_45edc38676c50e4a; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.bien
    ADD CONSTRAINT fk_45edc38676c50e4a FOREIGN KEY (proprietaire_id) REFERENCES public.proprietaire(id);


--
-- Name: prestation_devis fk_49ac8eaa41defada; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.prestation_devis
    ADD CONSTRAINT fk_49ac8eaa41defada FOREIGN KEY (devis_id) REFERENCES public.devis(id) ON DELETE CASCADE;


--
-- Name: prestation_devis fk_49ac8eaa9e45c554; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.prestation_devis
    ADD CONSTRAINT fk_49ac8eaa9e45c554 FOREIGN KEY (prestation_id) REFERENCES public.prestation(id) ON DELETE CASCADE;


--
-- Name: prestation fk_51c88fad57a217cf; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.prestation
    ADD CONSTRAINT fk_51c88fad57a217cf FOREIGN KEY (devis_type_id) REFERENCES public.devis_type(id);


--
-- Name: prestation fk_51c88fadbcf5e72d; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.prestation
    ADD CONSTRAINT fk_51c88fadbcf5e72d FOREIGN KEY (categorie_id) REFERENCES public.categorie(id);


--
-- Name: chantier fk_636f27f657a217cf; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.chantier
    ADD CONSTRAINT fk_636f27f657a217cf FOREIGN KEY (devis_type_id) REFERENCES public.devis_type(id);


--
-- Name: chantier fk_636f27f6b7728aa0; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.chantier
    ADD CONSTRAINT fk_636f27f6b7728aa0 FOREIGN KEY (inspecteur_id) REFERENCES public.inspecteur(id);


--
-- Name: chantier fk_636f27f6bd95b80f; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.chantier
    ADD CONSTRAINT fk_636f27f6bd95b80f FOREIGN KEY (bien_id) REFERENCES public.bien(id);


--
-- Name: entrepreneur_categorie fk_7b6e3fa0283063ea; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.entrepreneur_categorie
    ADD CONSTRAINT fk_7b6e3fa0283063ea FOREIGN KEY (entrepreneur_id) REFERENCES public.entrepreneur(id) ON DELETE CASCADE;


--
-- Name: entrepreneur_categorie fk_7b6e3fa0bcf5e72d; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.entrepreneur_categorie
    ADD CONSTRAINT fk_7b6e3fa0bcf5e72d FOREIGN KEY (categorie_id) REFERENCES public.categorie(id) ON DELETE CASCADE;


--
-- Name: devis fk_8b27c52b283063ea; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.devis
    ADD CONSTRAINT fk_8b27c52b283063ea FOREIGN KEY (entrepreneur_id) REFERENCES public.entrepreneur(id);


--
-- Name: devis fk_8b27c52bd0c0049d; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.devis
    ADD CONSTRAINT fk_8b27c52bd0c0049d FOREIGN KEY (chantier_id) REFERENCES public.chantier(id);


--
-- Name: devis_type fk_c30c36f66885ac1b; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.devis_type
    ADD CONSTRAINT fk_c30c36f66885ac1b FOREIGN KEY (gestionnaire_id) REFERENCES public.gestionnaire(id);


--
-- Name: devis_type fk_c30c36f6d0c0049d; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.devis_type
    ADD CONSTRAINT fk_c30c36f6d0c0049d FOREIGN KEY (chantier_id) REFERENCES public.chantier(id);


--
-- Name: entrepreneur fk_f28c90a3bcf5e72d; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.entrepreneur
    ADD CONSTRAINT fk_f28c90a3bcf5e72d FOREIGN KEY (categorie_id) REFERENCES public.categorie(id);


--
-- PostgreSQL database dump complete
--

\unrestrict nI8GgzlR3TjuxCmiiKj8wr3PUtiR6vJqTL8uUbrsV5UZimmtccCgNwFRYTmpnCk

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict VUE0H5w055pyeZT0CLjzcNJjMDcvIYZlo0JepR1ADPrYczmYqSoiwc1FCEMZaWb

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict VUE0H5w055pyeZT0CLjzcNJjMDcvIYZlo0JepR1ADPrYczmYqSoiwc1FCEMZaWb

--
-- PostgreSQL database cluster dump complete
--

